
/* DEBUT HEADER */

header{
    background-image: url(images/header.png);
}

h1{
    font-family: 'Oswald';
}

nav{
    font-family: 'Abel';
}

/* FIN HEADER */
/* DEBUT MAIN */

main, .sect1_art, .img_header, .sect3_art{
    background-image: url(images/fond.png);
}

.sect2_art, footer{
    background-image: url(images/fond-article.png);
}

.bg-footer{
    background-image: url(images/footer.png);
}

.row{
    margin: 0;
    padding: 0;
}


@media screen and ( min-width: 1024px){
    header{
        padding: 3rem;
    }
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    header{
        padding: 1rem;
    }
    nav{
        display: none;
    }

}

@media screen and (max-width: 768px){
    header{
        padding-bottom: 1rem;
    }
}